<h1>Dashboard</h1>

<form action="">
<select name="status"><br>
    <option value="">All</option>
    <option value="proposal">Proposal</option>
    <option value="in_progress">In progress</option>
    <option value="finished">Finished</option>
</select><br>
<input type="submit" value="Search" class="btn my-3">
</form>

<table class="table">
    <tr>
    <th>Project name</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Status</th>
    </tr>
    <% @projects.each do |project|%>
        <tr>
            <td><%= project.project_name %></td>
            <td><%= project.description %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.status %></td>
        </tr>
    <% end %>
</table>
